.root {
    -fx-font-family: "Courier New", monotype;
}

.vbox {
    -fx-background-color: black;
}

.label {
    -fx-text-fill: lime;
    -fx-font-size: 12pt;
    -fx-font-weight: bolder;
}

.button {
    /* -fx-background-color: red; */
    /* -fx-text-fill: white; */
    -fx-min-width: 100;
    -fx-max-width: 100;
    -fx-min-height: 100;
    -fx-max-height: 100;
    -fx-text-fill: red;
    -fx-font-size: 12pt;


    -fx-background-color: -fx-shadow-highlight-color,
        -fx-outer-border,
        -fx-inner-border,
        -fx-body-color;
    -fx-background-insets: 0 0 -1 0,
        0,
        1,
        2;
    -fx-background-radius: 3px,
        3px,
        2px,
        1px;
    -fx-padding: 0.333333em 0.666667em 0.333333em 0.666667em;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.button:hover {
    -fx-color: -fx-hover-base;
}

.button:armed {
    -fx-color: -fx-pressed-base;
}

.button:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
    -fx-background-radius: 3, 2, 1, 4, 1;
}